<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/style_all_notLogged.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="container_header">
            <div class="left">
                <h1 class="left_h1">CEAPOLI</h1>
                <span class="separator"></span>
            </div>


            <div class="right">
                <a href="../view/login.html" id="link_login" class="fa-solid fa-user fa-2xl"></a>
            </div>

            <div class="navbar_menu">
                <a id="link-navbar" href="./index.html"><p>Home</p></a>
                <a id="link-navbar" href="./login.html"><p>Login</p></a>
                <a id="link-navbar" href="./team.html"><p>Team</p></a>
                <!-- <p><a class="link" href="../view/courses.html">Courses</a></p> -->
                <p></p>
            </div>
        </div>
    </header>
    <a href="https://api.whatsapp.com/send?phone=3013898464&text=Hola,%20¿qué%20tal%20estás?,%20Deseo%20asesoría sobre..." target="_blank" class="btn-flotante"><i class="fa-brands fa-whatsapp whatsapp fa-3x"></i></a>
    <img class="img_mintransporte" src="../img/mintransporte.png" alt="mintransporte"   height="70" ;>
    <div class="container1">
        <img class="img_header" src="../img/fondo1.png" alt="">
        <section class="container1_txt">
            <div class="">
                <p class="container1_txt_titulo">OUR NEW<br>DRIVING<br>ACADEMY</p>
                <p>DRIVING WASN'T THAT ENJOYABLE</p>
                <br>
                <img src="../img/drivingAcademyLogo.png" alt="">
        </section>
    </div>

    <div class="container2">
        <h1 class="container2_title">What we have to offer?</h1>
        <div class="container2_grid">
            <div class=" d1 container2_grid_areas">
                <h2 class="grid_areas_title">License A1</h2>
                <p class="grid_areas_txt">With your A1 licence you will be able to drive motorcycles with an engine equal to or less than 125 cc.</p>
            </div>
            <div class="d2 container2_grid_areas">
                <h2 class="grid_areas_title">License A2</h2>
                <p class="grid_areas_txt">With your A2 licence you will be able to drive motorcycles with an engine greater than 125 cc.</p>
            </div>
            <div class="d3 container2_grid_areas">
                <h2 class="grid_areas_title">Great Deals</h2>
                <p class="grid_areas_txt">Take advantage of our great offers today and start learning with our very professional and trained team</p>
            </div>
            <div class="d4 container2_grid_areas">
                <h2 class="grid_areas_title">License B1</h2>
                <p class="grid_areas_txt">With your B1 licence you will be able to drive cars, motorcycles, ATVs, campers, vans and minibuses.</p>
            </div>
            <div class="d5 container2_grid_areas">
                <h2 class="grid_areas_title">License B2</h2>
                <p class="grid_areas_txt">With your B2 licence you will be able to drive rigid trucks, vans and buses</p>
            </div>
            <div class="d6 container2_grid_areas">
                <h2 class="grid_areas_title">Don't Worry</h2>
                <p class="grid_areas_txt">With our secure policy you will not need to worry about the health of the vehicle you are training with</p>
            </div>
        </div>
    </div>

    <div class="container3">
        <div class="container3_flex">
            <p class="container3_flex_txt"><a class="link" href="https://www.runt.com.co/consultaCiudadana/#/consultaPersona" target="_blank">Citizen consultation - Person</a></p>
        </div>
        <div class="container3_flex">
            <p class="container3_flex_txt"><a class="link" href="https://www.runt.com.co/consultaCiudadana/#/consultaVehiculo" target="_blank">Citizen consultation - Vehicle</a></p>
        </div>
        <div class="container3_flex">
            <p class="container3_flex_txt"><a class="link" href="https://consulta.simit.org.co/Simit/" target="_blank">Consult SIMIT</a></p>
        </div>
    </div>
    
    <footer>
        <div class="footer_container">
            <div class="footer_information">
                <h4 id="sub_title">CEAPOLI</h4>
                <h5 class="footer_txt_after"><a id="link_footer" href="./privacy.html">Privacy & Terms</a></h5>
                <h5>All rights reserved</h5>
                <h5 class="footer_txt">© 2022 PCSACADEMY</h5>
            </div>

            <div class="footer_quick_links">
                <h4 id="sub_title">Quick Links</h4>
                <a id="link_footer" href="index.html">
                    <h5>Home</h5>
                </a>
                <a id="link_footer" href="login.html">
                    <h5>Login</h5>
                </a>
            </div>
            
            <div class="footer_social">
                <h4 id="sub_title">Follow Us</h4>
                <a id="link_footer" href="https://twitter.com/sttmed"  target="_blank">
                    <h5>Twitter</h5>
                </a>
                <a id="link_footer" href="https://www.facebook.com/sttmed"  target="_blank">
                    <h5>Facebook</h5>
                </a>
            </div>

        </div>
    </footer>
    


</body>

</html>

<script src="https://kit.fontawesome.com/13dcc31221.js" crossorigin="anonymous"></script>
<script src="../js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>