<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/style_all_notLogged.css">
    <link rel="stylesheet" href="/FrontEnd/style/fontello.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="container_header">
            <div class="left">
                <h1>PCSACADEMY</h1>
                <div class="separator"></div>
            </div>


            <div class="right">
                <a href="../view/login.html" id="link_login" class="fa-solid fa-user fa-2xl"></a>
            </div>

            <div class="navbar_menu">
                <a id="link-navbar" href="./index.html"><p>Home</p></a>
                <a id="link-navbar" href="./login.html"><p>Login</p></a>
                <p>Team</p>
                <a id="link-navbar" href="./enrollment.html"><p>Enrollment</p></a>
                <p></p>
            </div>


        </div>
    </header>
    <div class="container1">
        <img class="img_header" src="../img/fondo1.png" alt="">
        <section class="container1_txt">
            <div class="">
                <p class="container1_txt_titulo">OUR NEW<br>DRIVING<br>ACADEMY</p>
                <p>DRIVING WASN'T THAT ENJOYABLE</p>
                <br>
                <img src="../img/drivingAcademyLogo.png" alt="">
        </section>
    </div>

    <div class="container2">
        <h1 class="container2_title">We are a good academy!</h1>
        <div class="container2_grid">
            <div class=" d1 container2_grid_areas">
                <h2 class="grid_areas_title">Text sample</h2>
                <p class="grid_areas_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. In sapiente, beatae,
                    nesciunt incidunt deleniti sed eligendi dolor omnis repellendus illo consequatur ratione ducimus quo
                    nulla quibusdam accusantium mollitia animi earum.</p>
            </div>
            <div class="d2 container2_grid_areas">
                <h2 class="grid_areas_title">Text sample</h2>
                <p class="grid_areas_txt"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt error, sed
                    dignissimos saepe non iusto voluptas, distinctio iste quisquam dolore perspiciatis totam, officia
                    illum doloribus facilis ex soluta cum? Libero.</p>
            </div>
            <div class="d3 container2_grid_areas">
                <h2 class="grid_areas_title">Text sample</h2>
                <p class="grid_areas_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis optio
                    laudantium dolores ipsa tempora debitis nihil repellendus sapiente eaque illo doloribus quaerat
                    placeat ea doloremque, perspiciatis cupiditate adipisci possimus tempore.</p>
            </div>
            <div class="d4 container2_grid_areas">
                <h2 class="grid_areas_title">Text sample</h2>
                <p class="grid_areas_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque adipisci quasi,
                    minima eligendi at libero a atque sed! Nisi libero mollitia non, labore necessitatibus obcaecati
                    quas dignissimos odit quibusdam eos?</p>
            </div>
            <div class="d5 container2_grid_areas">
                <h2 class="grid_areas_title">Text sample</h2>
                <p class="grid_areas_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat neque eveniet
                    nihil autem veniam exercitationem culpa deserunt, unde, ab, corporis similique praesentium! Modi
                    quasi corrupti non quae at nemo autem.</p>
            </div>
            <div class="d6 container2_grid_areas">
                <h2 class="grid_areas_title">Text sample</h2>
                <p class="grid_areas_txt">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab officiis aliquam
                    omnis a aperiam perspiciatis nulla amet necessitatibus nemo magni tempora doloribus, provident
                    obcaecati, facilis, ipsam natus aspernatur suscipit enim.</p>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer_container">
            <div class="footer_information">
                <h4 id="sub_title">PCSACADEMY</h4>
                <h5 class="footer_txt">Privacy policy</h5>
                <h5 class="footer_txt">Terms & conditions</h5>
                <h5 class="footer_txt">All rights reserved</h5>
                <h5 class="footer_txt">© 2022 PCSACADEMY</h5>
            </div>

            <div class="footer_quick_links">
                <h4 id="sub_title">Quick Links</h4>
                <a id="link_footer" href="index.html">
                    <h5>Home</h5>
                </a>
                <a id="link_footer" href="login.html">
                    <h5>Login</h5>
                </a>
            </div>

            <div class="footer_social">
                <h4 id="sub_title">Follow Us</h4>
                <a id="link_footer" href="">
                    <h5>Twitter</h5>
                </a>
                <a id="link_footer" href="">
                    <h5>Facebook</h5>
                </a>
            </div>


        </div>
    </footer>
    


</body>

</html>

<script src="https://kit.fontawesome.com/13dcc31221.js" crossorigin="anonymous"></script>
<script src="../js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>