<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700&display=swap" rel="stylesheet"> 
    <title>Cuestionario</title>
</head>
<body>
    <header>
        <div class="container_header">
            <div class="left">
                <h1>PCSACADEMY</h1>
                <div class="separator"></div>
            <div class="navbar">
                <p>Home</p>
                <p>Services</p>
                <p>Team</p>
                <p>Cuestionario</p>
            </div>
            </div>
            <div class="right">

            </div>
            
        
        </div>
    </header>
    <div class="container1">
        <img class="img_header" src="../img/fondo1.png" alt="">
        <section class="container1_txt">
            <div class="">
                <p class="container1_txt_titulo">OUR NEW<br>DRIVING<br>ACADEMY</p>
                <p>DRIVING WASN'T THAT ENJOYABLE</p>
                <br>
                <img src="../img/drivingAcademyLogo.png" alt="">
            </section>
            
        </div>
    </div>
    
    <script src="../js/index.js"></script>
</body>
</html>

