<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <input type="text" id="id" placeholder="id">
        <input type="text" id="name" placeholder="name">
        <input type="text" id="lastname" placeholder="lastname">
        <input type="text" id="years" placeholder="years">
        <input type="text" id="email" placeholder="email">
        <input type="text" id="phone" placeholder="phone">
        <input type="text" id="password" placeholder="password">
        <input type="text" id="password2" placeholder="password2">
        <button onclick="registerStudent()" >register</button>
    </form>
    <hr><hr>
    <form action="#">
        <input type="text" id="login-email" placeholder="email">
        <input type="text" id="login-pass" placeholder="pass">
        <button onclick="loginStudent()" >login</button>
    </form>
    
    <script src="../js/login.js"></script>
</body>
</html>

