.container1{
    display: flex;
    width: 100%;
}


#enrollAsignaturesStudent{
    margin-left: 20%;
}


/* TABLE STUDENTS */

#th_titles{
    text-align: center;
}

.cont_table_students{
    margin-top: 2vh;
    width: 100%;
}

#tableData{
   width: max-content;
   margin: auto;
   margin-top: 2%;
}

#titleModal{
    margin-left: auto;
}


/* END TABLE STUDENTS */


/* SCREEN STUDENTS WITH SUBJECTS*/

#sub_list_of_students{
    padding-top: 1%;
    margin-left: 43%;
}

/* END SCREEN STUDENTS WITH SUBJECTS */