*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

.container_header{
    background:rgb(94, 14, 168);
    min-height: 8vh;
    color: #fff;
}

.container_header_title{
    padding-left: 46%;
    
}

.container_header_subtitle{
    margin-left: 47.5%;
}


.sidebar{
    position: absolute;
    top: 8vh;
    left: 0;
    width: 15vh;
    height: 100%;
    color: #fff;
    background-color: rgb(0, 0, 0);
}

.sidebar_list{
    margin-top: 4vh;
    font-weight: 500;
    font-size: 1.5vh;
    text-align: center;
    list-style: none;
    
}

.sidebar_list_item{
    margin-bottom: 1.5vh;
    transition: all 400ms ease;
}

.sidebar_list_item:hover{
    transform: scale(1.2);
}

.active{
    position: absolute;
    background-color: rgb(157, 92, 187);
    width: 100%;
    left: 0vh;
    padding: 0;
}
