*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

#titles{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
#sub_titles{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.tittle{
    position: absolute;
    margin-top: 1%;
}

.contenedor-cards{
    position: relative;
    margin-left: 7%;
    display: flex;
    justify-content: center;
}

.card{
    display: grid;
    margin-top: 5%;
    margin-left: 2%;
}

ol{
    padding: 0;
}

ul{
    padding: 0;
}

a{
    color: black !important;
    text-decoration: none !important;
    list-style: none;
}

.container_header{
    background:rgb(255, 255, 255);
    min-height: 8vh;
    color: rgb(0, 0, 0);
    box-shadow: rgb(0, 0, 0) 0px 8px 10px -10px;
}

.container_header_title{
    padding-left: 46%;
    
}

.container_header_subtitle{
    margin-left: 47.5%;
}


.sidebar{
    position: absolute;
    top: 9.5vh;
    left: 0;
    width: 15vh;
    height: 90.5%;
    color: rgb(0, 0, 0);
    background-color: rgb(249, 250, 251);
}

.sidebar_list{
    margin-top: 4vh;
    font-weight: 500;
    font-size: 1.5vh;
    text-align: center;
    list-style: none;
    
}

.sidebar_list_item{
    margin-bottom: 1.5vh;
    transition: all 400ms ease;
   
}

.sidebar_list_item:hover{
    cursor: pointer;
}

.active{
    background-color: #e3f6fc;
    width: 100%;
    left: 0vh;
    padding: 0;
}

.btn-card {
    width: 100%;
}

.ornament{
    position: absolute;
    margin-top: 4rem;

    left: 68rem;
}

.xmas{
    position: absolute;
    margin: 0;
    top: 73%;
    left: 80%;
}

#enrollAsignaturesTeachers{
    margin-left: 20%;
}


#simpleDropdown{
    margin-left: 95%;
}

#dropdown_container{
    margin-right: 0 !important;
    width: 100%;
}

#table_container{
    margin-top: 2rem;
}