*{
    margin: 0;
}

.link{
    color: #fff !important;
}
.container1_txt{
    color: white;
    max-height: 88.5vh;
    position: absolute;
    padding-left: 10vh;
    top: 0;
    height: 100%;
}

.container1_txt div{
    position: relative;
    top: 30vh;
    padding-right: 15vh;
}

.container1_txt_titulo{
    width: 41.11vh;
    font-size: 4.11vh;
    margin-bottom: 1vh;
}

.container2{
    margin-left: 20%;
    margin-right: 30vh;
}

.container2_title{
    margin-top: 5vh;
    margin-left: 43vh;
}

.container2_grid {

    display: grid;
    margin-top: 5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "d1 d2 d3"
    "d4 d5 d6";
    }

.d1{
    background-image: url(../img/home_d1.jpg);
}

.d2{
    background-image: url(../img/11_CursoMotos_ENMotocicleta.jpg);
}

.d3{
    background-position: bottom;
    background-image: url(../img/disc2.png)
}

.d4{
    background-image: url(../img/home_d3.png);
}

.d5{
    background-image: url(../img/home_d4.png);
}

.d6{
    background-image: url(../img/secure.jpg);
}

.container2_grid_areas{
    border-radius: 1.2vh;
    margin: 1vh;
    margin-bottom: 2vh;
    max-width: 35vh;
    min-height: 35vh;
}

.grid_areas_title{
    padding-left: 2vh;
    text-align: center;
    margin-top: 4vh;
    margin-left: 7vh;
    margin-right: 7vh;
    border-radius: 0.5vh;
    background-color: black;
    color: #fff;
}

.grid_areas_txt{
    margin: 2vh 5vh 0vh 5vh;
    color: #fff;
    padding: 1vh;
    background-color: rgb(37, 37, 37);
    border-radius: 1vh;
}

.container3{
    display: flex;
    color: #fff;
    margin-top: 5vh;
    margin-left: 23%;   
    margin-bottom: 5vh;
    
}

.container3_flex{
    border: 0.2vh solid rgb(94, 94, 94);;
    text-align: center;
    border-radius: 0.8vh;
    margin-left: 5vh;
    min-width: 30vh;
    background-image: linear-gradient(to right bottom, #004886, #003b6c, #002e53, #00213b, #001425);
}

.container3_flex_txt{
    margin: 0 !important;
    color: #fff !important;
}



.img_mintransporte{
    position: absolute;
    left:85%;
    top: 80vh;
}

.btn-flotante {
	color: #ffffff; 
	border-radius: 100%; /* Borde del boton */
	background-color: #00bb2d; /* Color de fondo */
	padding: 5px 5px; /* Relleno del boton */
	position: fixed;
	bottom: 30px;
	left: 11vh;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #00bb2d; /* Color de fondo al pasar el cursor */
    color: #ffffff; /* Color del texto */
    box-shadow: 22px 21px 22px 1px rgba(0,0,0,0.75);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 

