.container1_txt{
    color: white;
    max-height: 88.5vh;
    background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    padding-left: 10vh;
    top: 0;
    height: 100%;
}

.container1_txt div{
    position: relative;
    top: 30vh;
    padding-right: 15vh;
}

.container1_txt_titulo{
    width: 41.11vh;
    font-size: 40px;
    margin-bottom: 1vh;
}