*{
    margin: 0;
}

a{
    text-decoration: none !important;
}

.container1_txt{
    color: white;
    max-height: 88.5vh;
    position: absolute;
    padding-left: 10vh;
    top: 0;
    height: 100%;
}

.container1_txt div{
    position: relative;
    top: 30vh;
    padding-right: 15vh;
}

.container1_txt_titulo{
    width: 41.11vh;
    font-size: 4.11vh;
    margin-bottom: 1vh;
}

.container2{
    margin-left: 20%;
    margin-right: 30vh;
}

.container2_title{
    margin-top: 5vh;
    margin-left: 43vh;
}

.container2_grid {

    display: grid;
    margin-top: 5vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "d1 d2 d3"
    "d4 d5 d6";
    }

.d1{
    background-image: url(../img/home_d1.jpg);
}

.d2{
    background-image: url(../img/11_CursoMotos_ENMotocicleta.jpg);
}

.d3{
    background-image: url(../img/home_D5.png);
}

.d4{
    background-image: url(../img/home_d3.png);
}

.d5{
    background-image: url(../img/home_d4.png);
}

.d6{
    background-image: url(../img/license.png);
}

.container2_grid_areas{
    border-radius: 1.2vh;
    margin: 1vh;
    margin-bottom: 2vh;
    max-width: 35vh;
    min-height: 35vh;
}

.grid_areas_title{
    padding-left: 2vh;
    text-align: center;
    margin-top: 4vh;
    margin-left: 7vh;
    margin-right: 7vh;
    
    background-color: black;
    color: #fff;
}

.grid_areas_txt{
    margin: 2vh 5vh 0vh 5vh;
    color: #fff;
    padding: 1vh;
    background-color: black;
}

