.container1_menu{
    color: white;
    max-height: 88.5vh;
    background: linear-gradient(90deg, #000000 30%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    padding-left: 10vh;
    top: 0;
    height: 100%;
    width: 60vh;
}

.menu_login{
    width: max-content;
    height: max-content;
    padding: 2vh;
    margin-top: 30vh;
    margin-left: 10vh;
    background-color: white;
    color: #262626;
}