
.container1{
    display: flex;
    width: auto;
    height: 100vh;
}
.container1_menu{
    color: white;
    position: absolute;
    padding-left: 10vh;
    top: 0;
    height: 100%;
    width: 60vh;
}

.menu_login{
    width: auto;
    height: auto;
    padding: 2vh;
    margin-top: 10vh;
    margin-left: 10vh;
    background-color: white;
    color: #262626;
}



.container1_menu_txt{
    margin-top: 20vh;
}


/* modal */
#modal-register-title{
    margin-left: 20vh;
}

#inputs-register{
    margin-top: 2vh;
}