*{
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

/*HEADER*/
header{
    position: absolute;
    color: white;
    z-index: 2;
    margin-top: 3vh;
    margin-left:5vh;
    position: fixed;
    transition: all 100ms ease-out;
    width: 100%;
    
}

.separator{
    position: absolute;
    top:6vh;
    min-height:0.2vh;
    min-width: 80vh;
    background-color: #fff;
}

header.sticky{
    margin: 0;
    padding-left: 5vh;
    padding-top: 3vh;
    padding-bottom: 5vh;
    /*padding-right: 150vh;*/
    background-color: rgb(0, 0, 0);
    
}

header.sticky .separator{
    top: 8.5vh;
    min-height: 0.3vh;
}

header.sticky .navbar_menu{

    top: 7vh;
}


.navbar_menu{
    position: absolute;
    top: 5vh;
    display: flex;
    margin-top: 1vh;
    margin-left: 0.2vh;
    padding-top: 1vh;

}

.navbar_menu p{
    margin-right: 3vh;

}

#link-navbar
{
    text-decoration: none;
    color: #fff;
}

.navbar_menu p:hover{
    border-top: 0.2vh solid rgb(240, 255, 31);
    transition: all 3ms ease;
    cursor: pointer;
}


.navbar_menu p:nth-child(2):hover{
    border-top: 0.2vh solid rgb(59, 56, 255);
}
.navbar_menu p:nth-child(3):hover{
    border-top: 0.2vh solid rgb(247, 54, 54);
}

.container_header{
    width: 100%;
    display: flex;
}

.container_header .left{
}

.container_header .right{
   width: 100%;
   margin-left: 80%; 
   margin-top: 2vh; 
}
#link_login{
    color: white;
    text-decoration: none;
}

.img_header{
    width: 100%;
    height: 100%;
}

.img_team{
    width: 107.3%;
    height: 100%;
}

.h1_team{
    position: absolute;
    top: 40%;
    left: 10%;
    color: transparent;
    font-weight: 700;
    font-size: 8rem;
    align-items: center;
    line-height: 160px;
    -webkit-text-stroke: 1px #fff;
    background-image: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}


.container2 img{
    width: 100%;
    height: 100%;
}



.main-container{

}

/*END HEADER*/


/*FOOTER*/
.footer_container{
    display: flex;
    background-color:rgb(226, 225, 225);
    left: 0;
    color: rgb(94, 94, 94);
    padding-top: 1.8vh;
    min-height: 5vh;
}

.footer_quick_links{
    margin-left: 20vh;
}

.footer_img{
    padding-left:15rem;
}

.footer_information{
    margin-left: 50vh;
}

.footer_social{
    margin-left: 20vh;
}

.footer_txt_after{
    transition: all 100ms ease-out;
}

.footer_txt_after:hover{
    color: #fff;
}

#sub_title
{
    font-weight: 800;
    color: rgba(0, 0, 0, 0.87);
}

#link_footer{
    text-decoration: none;
    color: rgb(94, 94, 94);
    transition: all 100ms ease-out;
}

#link_footer:hover{
    color: #fff !important;
}

/*END FOOTER*/

/*ERROR404 PAGE*/

.container_error{
    margin-top: 12rem;
    align-items: center;
    text-align: center;
}

.oops{
    font-size: 8rem;
}

.error{
    font-size: 5rem;
    color: red;
}

.notfound{
    font-size: 2rem;
}