*{
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
}


/*HEADER*/
header{
    position: absolute;
    color: white;
    z-index: 2;
    margin-top: 3vh;
    margin-left:5vh;
    position: fixed;
    transition: all 100ms ease-out;
    width: 100%;
    
}

.separator{
    position: absolute;
    top:6vh;
    min-height:0.2vh;
    min-width: 80vh;
    background-color: #fff;
}

header.sticky{
    margin: 0;
    padding-left: 5vh;
    padding-top: 3vh;
    padding-bottom: 5vh;
    /*padding-right: 150vh;*/
    background-color: rgb(0, 0, 0);
    
}

header.sticky .separator{
    top: 8vh;
    min-height: 0.3vh;
}

header.sticky .navbar{
    top: 8vh;
}


.navbar_menu{
    position: absolute;
    top: 5vh;
    display: flex;
    margin-top: 1vh;
    margin-left: 0.2vh;
    padding-top: 1vh;

}

.navbar_menu p{
    margin-right: 3vh;
}

.navbar_menu p:hover{
    border-top: 0.2vh solid rgb(240, 255, 31);
    transition: all 3ms ease;
    cursor: pointer;
}


.navbar_menu p:nth-child(2):hover{
    border-top: 0.2vh solid rgb(59, 56, 255);
}
.navbar_menu p:nth-child(3):hover{
    border-top: 0.2vh solid rgb(247, 54, 54);
}

.container_header{
    width: 100%;
    display: flex;
}

.container_header .left{
}

.container_header .right{
   width: 100%;
   margin-left: 80%; 
   margin-top: 2vh; 
}
#link_login{
    color: white;
    text-decoration: none;
}

.img_header{
    width: 100%;
    height: 100%;
}


.container2 img{
    width: 100%;
    height: 100%;
}


/*END HEADER*/


/*FOOTER*/
.footer_container{
    background-color:#fff;
    left: 0;
    color:gray;;
    padding-top: 1.8vh;
    min-height: 5vh;
    display: flex;
}

.footer_quick_links{
    margin-left: 20vh;
}

.footer_information{
    margin-left: 50vh;
}

.footer_social{
    margin-left: 20vh;
}

#sub_title
{
    color: rgba(0, 0, 0, 0.87);
}

#link_footer{
    text-decoration: none;
    color: gray;
}

/*END FOOTER*/